# Credenciales y secretos
backend/credentials/
frontend/dermascan-front/src/app/environments/

# Carpetas de datos generados y datasets pesados
modelo/redimension/
modelo/redimension_balanceado_1250_train_test/
modelo/redimension_balanceado_8000_train_test/
modelo-final/archive/
modelo-final/redimension/
